<!-- Left Panel -->

<nav class="navbar navbar-expand-sm navbar-default">
    <div id="main-menu" class="main-menu collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="index.html"><i class="menu-icon fa fa-laptop"></i>後台管理</a>
            </li>
            <li class="menu-title">項目管理</li><!-- /.menu-title -->
            <li class="menu-item-has-children dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="menu-icon fa fa-user"></i>會員管理</a>
                <ul class="sub-menu children dropdown-menu">
                    <li><i class="fa fa-list-ul"></i><a href="ui-buttons.html">檢視會員</a></li>
                    <li><i class="fa fa-plus"></i><a href="ui-badges.html">新增會員</a></li>
                </ul>
            </li>
            <li class="menu-item-has-children dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="menu-icon fa fa-file-text-o"></i>訂單管理</a>
                <ul class="sub-menu children dropdown-menu">
                    <li><i class="fa fa-list-ul"></i><a href="forms-basic.html">檢視訂單</a></li>
                    <li><i class="fa fa-plus"></i><a href="forms-advanced.html">新增訂單</a></li>
                </ul>
            </li>
            <li class="menu-item-has-children dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="menu-icon fa fa-suitcase"></i>行程管理</a>
                <ul class="sub-menu children dropdown-menu">
                    <li><i class="fa fa-ticket"></i><a href="tables-basic.html">檢視票券</a></li>
                    <li><i class="fa fa-plus"></i><a href="tables-data.html">新增票券</a></li>
                    <li><i class="fa fa-home"></i><a href="tables-basic.html">檢視住宿</a></li>
                    <li><i class="fa fa-plus"></i><a href="tables-data.html">新增住宿</a></li>
                    <li><i class="fa fa-truck"></i><a href="tables-basic.html">檢視租車</a></li>
                    <li><i class="fa fa-plus"></i><a href="tables-data.html">新增租車</a></li>
                </ul>
            </li>

    

            <li class="menu-item-has-children dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="menu-icon fa fa-comments"></i>評論管理</a>
                <ul class="sub-menu children dropdown-menu">
                            <FORM ACTION="./CommentServlet" method="GET">
                    <li><i class="fa fa-comments"></i><INPUT
                    
                     NAME="QUERY" TYPE="SUBMIT" VALUE="檢視評論" style="background-color:white; border-color:white">
                    
                    </li>
                    <li><i class="fa fa-plus"></i><a href="comment-insert.html">新增評論</a></li>
                                </FORM>
                </ul>
            </li>


            <li class="menu-title">管理員項目</li>

            <li class="menu-item-has-children dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="menu-icon fa fa-tasks"></i>銷售數據</a>
            </li>
            <li>
                <a href="widgets.html"> <i class="menu-icon ti-email"></i>Uipath</a>
            </li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>

<!-- /#left-panel -->